body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 16px;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;

  background-color: #fca311;
}
.navbar {
  background-color: #fca3114d;
  overflow: hidden;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  text-decoration: none;
}

.navbar ul li {
  display: flex;
}

.navbar li a {
  color: rgb(15, 2, 2);
  font-weight: 500px;
  display: block;
  padding: 15px 5px;
  text-decoration: none;
}
.login {
  float: right;
}
.login a {
  text-decoration: none;
}
.login li {
  display: block;
}
img {
  width: 100%;
  height: 394px;
}
.split {
  height: 100%;
  width: 50%;
  float: left;

  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color: #ffffff;
  text-align: justify;
}

/* Control the right side */
.right {
  right: 0;
  background-color: ffffff;
}
.services {
  padding: 20px;
}
.footer {
  left: 0;
  bottom: 0;
  float: left;
  width: 100%;
  background-color: #f7f7f7;
  color: white;
  text-align: center;
}

.footer li {
  text-align: left;
}

.footer a {
  text-decoration: none;
}

/* Style the links inside the navigation bar */

.containerFirst {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.leftContainer {
  position: relative;
  bottom: 75px;
  padding: 0px;
  margin: 0px;
}

.leftContainer h1 {
  color: #fca311;
  font-size: 52px;
  padding: 0px;
}
.leftContainer h4 {
  color: #14213d;
  font-size: 32px;
  padding: 0px;
}

.leftContainer button {
  border: none;
  padding: 12px;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  box-shadow: 5px 10px white;
  border-radius: 12px;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.leftContainer button:hover {
  transform: scale(1.1);
}
img:hover {
  transform: scale(1.1);
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

.flex-child h2 {
  text-align: center;
}

.flex-child.right p {
  text-align: center;
}

.flex-child img {
  width: 45%;
  height: 294px;
}
.flex-footerContainer {
  display: flex;
}
.flex-child.footerMiddle h2 {
  justify-content: center;
  margin-top: 30px;
}
.flex-child.footerLeft {
  margin-top: 16px;
}

.flex-child.footerLeft li {
  text-decoration: none;
  list-style-type: none;
}
.flex-child.footerLeft li a {
  text-decoration: none;
}
.flex-child.footerRight h2 {
  margin-top: 30px;
}

.flex-footerContainer {
  background-color: #fca3114d;
  margin-top: 20px;
}
.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
.fa:hover {
  opacity: 0.9;
}
.flex-child.footerMiddle li {
  list-style: none;
}

.flex-child.footerMiddle ul {
  display: flex;
}

.flex-child.footerMiddle a {
  width: 10%;
  height: 6%;
}
.flex-container {
  background-color: #fca3114d;
}
